/* #navbar{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#services{
    height: 1280px;
}
.box{
    flex-direction: column;
}
#glimpses{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* height: 1700px; */
    /* flex-wrap: wrap;
}
#glimpses video{
    height:150px;
    width: 150px;
}
 */ 
 
